<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css">
  <link rel="stylesheet" href="/styles/stylesIndex.css" media="screen" title="no title" charset="utf-8">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Pacifico&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <title>Housing App</title>
</head>

<body>
  <div id="header">
    <div class="pos-f-t">
      <div class="collapse" id="navbarToggleExternalContent">
        <div class="bg-dark p-4" id="collapseBar">
          <div class="row">
            <div class="col-xs-1">
              <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li class="logged-in">
                  <a href="#" class="grey-text" id="logout"><i class="fa fa-fw fa-sign-out"></i>Logout</a>
                </li>
                <li class="logged-out">
                  <a href="#" class="grey-text modal-trigger" data-target="#modal-login" data-toggle="modal"><i
                      class="fa fa-fw fa-sign-in"></i>Login</a>
                </li>
                <li class="logged-out">
                  <a href="#" class="grey-text modal-trigger" data-target="#modal-signup" data-toggle="modal"><i
                      class="fa fa-fw fa-user"></i>Sign up</a>
                </li>
              </ul>
            </div>
            <div class="col-xs-11">
              <ul class="navbar" id="nav">
                <li class="pageLinks">
                  <a class="links" href="/">Home</a>
                </li>
                <li class="pageLinks">
                  <a class="links" href="/buy">Buy</a>
                </li>
                <li class="pageLinks">
                  <a class="links" href="/sell">Sell</a>
                </li>
                <li id="about" class="pageLinks">
                  <a class="links" href="/about">About</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <nav id="headNav" class="navbar navbar-dark">
        <a class="logo" href="/"><img class="logo" src="./img/logo1.png"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent"
          aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      </nav>
    </div>
  </div>

  <!-- SIGN UP MODAL -->
  <div class="modal fade" id="modal-signup" tabindex="-1" role="dialog" aria-labelledby="modal-signup"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modalTitle">Sign Up</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form id="signup-form">
            <div class="input-field">
              <input type="email" id="signup-email" required />
              <label for="signup-email">Email address</label>
            </div>
            <div class="input-field">
              <input type="password" id="signup-password" required />
              <label for="signup-password">Choose password</label>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" id="sign-up-button" class="btn btn-primary" data-dismiss="modal">Sign up</button>
        </div>
      </div>
    </div>
  </div>
  <!-- LOGIN MODAL -->
  <div class="modal fade" id="modal-login" tabindex="-1" role="dialog" aria-labelledby="modal-login" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modalTitle">Login</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form id="login-form">
            <div class="input-field">
              <input type="email" id="login-email" required />
              <label for="login-email">Enter Email</label>
            </div>
            <div class="input-field">
              <input type="password" id="login-password" required />
              <label for="login-password">Enter Password</label>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" id="login-button" class="btn btn-primary" data-dismiss="modal">Login</button>
        </div>
      </div>
    </div>
  </div>

  {{{body}}}

  <div id="footer">&#9400;2019</div>
  <!-- The core Firebase JS SDK is always required and must be listed first -->
  <script src="https://www.gstatic.com/firebasejs/7.6.0/firebase-app.js"></script>
  <script src="https://www.gstatic.com/firebasejs/7.6.0/firebase-auth.js"></script>
  <script src="https://www.gstatic.com/firebasejs/7.6.0/firebase-firestore.js"></script>

  <!-- TODO: Add SDKs for Firebase products that you want to use
     https://firebase.google.com/docs/web/setup#available-libraries -->
  <script src="https://www.gstatic.com/firebasejs/7.6.0/firebase-analytics.js"></script>

  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
  {{!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script> --}}


  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
    crossorigin="anonymous"></script>
  <script src="/js/auth.js"></script>
  <script src="/js/index.js"></script>
  <script src="/js/app.js"></script>

</body>

</html>
