<br>
<br>
<div >
  <div class="d-flex justify-content-center" class="row">
    <div class="col-lg-7 col-md-7 col-xs-8" class="card-body">
      <h5 class="card-title">About</h5>
      <p class="card-text" style="font-size:14.5px">This site allows users to browse and post home listings in the Greater North Kansas City
        area. Whether you are looking to sell your current home or find your new residence, NKC Neighorhoods will have
        everything you need.
      </p>
    </div>
  </div>
  <br>
  <div class="d-flex justify-content-center"  class="row">
    <div class="col-lg-5 col-md-5 col-xs-6">
      <p> <span style="font-size:14.5px">The Buy page allows you to scan through all of the available listings based on different criteria including
        Home Style, Bedrooms, Square Footage, Nearby Schools, and many more! The Sell page lets users easily upload photos
        and information about the home they would like to sell. </span>
      <hr>
      <span style="font-size:12px"><b>This app lets users list or buy homes in the following zipcodes, only: 64119, 64118, 64116, 64117, 64150.</b></span>
      </p>
    </div>
    <div class="col-2">
      <img src="./img/ZipcodeMap.jpg" class="img-responsive">
    </div>
  </div>
</div>
</div>
