<panel id="searchPanel">
    <form>
        <div class="form-group">
            <label for="minPrice">Minimum Price</label>
            <input type="number" class="form-control" id="minPrice" placeholder="Min">
            <label for="maxPrice">Maximum Price</label>
            <input type="number" class="form-control" id="maxPrice" placeholder="Max">
        </div>
        <div class="form-group">
            <label for="areaSelect">Zip Code</label>
            <input type="number" class="form-control" id="areaSelect" placeholder="Zip Code">
             <select class="form-control" id="zipRadius">
                <option value="5">5 miles</option>
                <option value="10">10 miles</option>
                <option value="15">15 miles</option>
                <option value="20">20 miles</option>
                <option value="25">25+</option>
            </select>
        </div>
        <div class="form-group">
            <label for="bedNum">Select by Bedroom</label>
            <select class="form-control" id="bedNum">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5+</option>
            </select>
        </div>
    </form>
</panel>

<div id="showcase">

</div>