<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          Create a Listing
        </div>
        <div class="card-body">
          <form action="" method="POST" role="form" id="sellerForm">
            <div class="form-group">
              <label for="name">Seller Name</label>
              <input type="text" class="form-control" id="name">
            </div>
            <div class="form-group">
              <label for="email">Email address</label>
              <input type="email" class="form-control" id="email" placeholder="name@example.com"> 
            </div>
            <div class="form-group">
              <label for="price">Asking Price</label>
              <input type="text" class="form-control" id="price">   
            </div>
            <div class="form-group">
              <label for="sqFoot">Square Footage</label>
              <input type="text" class="form-control" id="sqFoot">  
            </div>
            <div class="form-group">
              <label for="bedrooms">Bedrooms</label>
              <select class="form-control" id="bedrooms">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5+</option>
              </select>
            </div>
            <div class="form-group">
              <label for="areaZip">Zipcode</label>
              <input type="text" class="form-control" id="areaZip">
            </div>
            <div class="form-group">
              <label for="image">Link to Image</label>
              <input type="text" class="form-control" id="image">
            </div>
            <div class="form-group">
              <label for="hotAndCold">Includes Heating and Cooling</label>
              <input type="checkbox" name="heating" value="1" id="hotAndCold"> 
            </div>
          </form>
          <br>
          <div class="text-right">
            <button type="button" id="sellButton"><span class="fa fa-plus"></span>Create Listing</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<script src="/js/sell.js"></script>
